/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/img/1920х1080.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(/img/header.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(/img/PSG.webp);
} */
